@media (max-width: 500px) {
  body {
    padding: 18px 0;
  }

  #btn-tema {
    top: 18px;
    right: 18px;
  }

  main {
    width: calc(100% - 32px);
    min-height: auto;
    padding: 38px 24px;
  }

  .painel-informacoes h1 {
    font-size: 1.35rem;
  }

  .painel-informacoes span {
    font-size: 0.82rem;
  }
}
